html {
   font-family: 'Noto Sans KR', sans-serif;
   margin: 0px;
   padding: 0px;
   background: lightcyan;
}
.navbar {
    display: flex;
    justify-content: center;
    background: rgba(148, 0, 211, 0.500);
    border: solid 1px black;
}
.navbar a{
    width: 200px;
    border: solid 1px black;
    text-align: center;
    font-size: 34px;
    text-decoration: none;
    background: rgb(153, 1, 255);
    color: black;
    text-shadow: 0px 0px 2px white;
}
.navbar a:first-child {background-image: linear-gradient(to right, violet, pink);}
.navbar a:nth-child(even) {background-color: pink;}
.navbar a:nth-child(odd) {background-color: pink;}
.navbar a:last-child {background-image: linear-gradient(to right, pink, violet);}
.navbar a:hover {
    box-shadow: 0px 0px 5px orangered;
    text-shadow: 0px 0px 1px purple;
    border: solid 1px orangered;
}
.return {
    position: absolute;
    text-decoration: none;
    font-size: 34px;
    background-image: linear-gradient(to right, pink, violet) ;
    color: black;
    text-shadow: 0px 0px 2px white;
    border: 1px solid black;
}
.return:hover {
    box-shadow: 0px 0px 2px orangered;
    text-shadow: 0px 0px 1px purple;
    border: solid 1px orangered;
}
.theme-switcher {
    position: absolute;
    left: 124px;
}
.welcome {
    display: flex;
    justify-content: center;
    font-size: 48px;
    margin-top: 200px;
    color: black;
    text-shadow: 2px 2px purple;
    border: solid 1px black;
    background: rgba(1, 39, 255, 0.226);  
    animation: bg-pulse 4s infinite forwards;  
    height: 55px; 
}
.home-underbar {
    display: flex;
    height: 55px;
    margin-top: 50px;
    color: rgba(1, 39, 255, 0.226);
    border: solid 1px black;
    background: rgba(1, 39, 255, 0.226);  
    animation: bg-pulse2 4s infinite forwards;   
}
@keyframes bg-pulse {
    0% {box-shadow: 0px -8px 10px rgba(1, 39, 255, 0.226);}
    50% {box-shadow: 0px -20px 10px rgba(1, 39, 255, 0.226);}
    100% {box-shadow: 0px -8px 10px rgba(1, 39, 255, 0.226);}
}
@keyframes bg-pulse2 {
    0% {box-shadow: 0px 8px 10px rgba(1, 39, 255, 0.226);}
    50% {box-shadow: 0px 20px 10px rgba(1, 39, 255, 0.226);}
    100% {box-shadow: 0px 8px 10px rgba(1, 39, 255, 0.226);}
}
.dark-theme {
    background: #00bba2;
    color: white;

    background-image:  linear-gradient(to right, #f261ff75, #7eb8ff75, #fbcdff75, #d7e9ff75);
    animation-direction: reverse;
}
.home-bg {
    margin-left: 0px;
    margin-right: 0px;
    background-image: linear-gradient(to right, #7eb8ff, #fcd9ff, #7eb8ff);
    height: 548px;
}
.home-nav {
    display: flex;
    justify-content: center;
}
.home-nav a{
width: 300px;
height: 350px;
border: solid 1px #000000;
border-radius: 12px;
margin-left: 25px;
text-align: center;
text-decoration: none;
font-size: 50px;
color: black;

background: #c1fff7;
text-shadow: 1px 1px white ;
box-shadow: 1px 1px 3px black;
}
.home-nav img {
    width: 280px;
    height: 260px;
    margin-top: 20px;
    border: solid 1px black;
    border-radius: 3px;
    box-shadow: 0px 0px 2px black;
}
.home-nav a:hover {
animation: box-shadow-pulse 0.5s;
animation-iteration-count: 1;
animation-delay: none;
animation-fill-mode: both;
color: white;
box-shadow: 0px 0px 5px #fd8700;
text-shadow: 1px 1px black;
background-color: #00bba2;

border: solid 1px orangered;
}

@keyframes box-shadow-pulse {
0% {
    box-shadow: 0px 0px 3px #fd8700;
    border: solid 1px orangered;
}

100% {
    transform: rotateX(5deg);
    box-shadow: 0px 0px 6px #fd8700;
    border: solid 1px orangered;
}
}
/* PROJECTEN */

.project {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.project a {
    width: 200px;
    height: 400px;
    border: solid 1px black;
    background-color: lightblue;
    margin-right: 50px;
    text-decoration: none;
    color: black;
}
.project h3 {
    text-align: center;
}

/* CALCULATOR */

.calc-main {
    display: flex;
    margin-top: 250px;
    
}
.calc-main p {
    width: 930px;

    background-color: beige;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 48px;
    text-align: right;
}
.calc-main button {
    outline: none;
    font-size: 48px;
    border-radius: 15px;
    border: solid 2px #000000;
    margin: 5px;
}
#calc {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr ;
    height: 400px;
}

.calc-main section:nth-child(2){
    flex: 6;

    background-color: gray;
    border: solid 1px #000000;
    border-radius:4px;
}
.calc-main section:nth-child(1){flex: 3;}
.calc-main section:nth-child(3){flex: 3;}


.number {
    background: linear-gradient(to right, blue, lightblue, blue)}

.operators {
    color: red;
    border-radius: 5px;
    background: linear-gradient(to right, turquoise, lightblue, turquoise);
}
.calculate-button {
    color: black;
    border-radius: 5px;
    background: linear-gradient(to right, orangered, orange, orangered);
}
.answer {
    color: #000000;
    border: solid 1px #000000;
    width: 930px;

    background-color: #ffffff;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 48px;
    text-align: right;
}
.number:hover {
    background: linear-gradient(to right, blue, white, blue);
    border: solid 2px red;
  }
.operators:hover {
    background: linear-gradient(to right, turquoise, white, turquoise);
    border: solid 2px red;
}
.calculate-button:hover {
    background: linear-gradient(to right, orangered, white, orangered);
    border: solid 2px red;
}