/* Over Mij */

.om-bg-1 {
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
.om-bg-2 {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}
.om-bg-1 div { 
    height: 300px;
    background: linear-gradient(rgba(137, 43, 226, 0.1), 
                                rgba(137, 43, 226, 0.2), 
                                rgba(137, 43, 226, 0.1));
    border: solid 1px black;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 50px;
}
.om-bg-2 div { 
    height: 300px;
    background: linear-gradient(rgba(137, 43, 226, 0.1), 
                                rgba(137, 43, 226, 0.2), 
                                rgba(137, 43, 226, 0.1));
    border: solid 1px black;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 50px;
}
.om-bg-1 h1, p {
    margin-left: 5px;
    margin-top: 5px;
}
.om-bg-2 h1, p {
    margin-left: 5px;
    margin-top: 5px;
}
.om-introduction
.om-skills
.om-traits
.om-likes

.om-bg-1 div:nth-child(1){flex: 5;}
.om-bg-1 div:nth-child(2){flex: 7;}
.om-bg-1 div:nth-child(3){flex: 5;}
.om-bg-2 div:nth-child(1){flex: 5;}
.om-bg-2 div:nth-child(2){flex: 7;}
.om-bg-2 div:nth-child(3){flex: 5;}
